.backgroundImg {
     background-image: url("/Image.svg");
     background-size: cover;
     background-repeat: no-repeat;
}

.nav_backgroundImg {
     background-image: url("/glass1.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}

.articleBackground {
     background-image: url("/Image (2).svg");
     background-size: cover;
     background-repeat: no-repeat;
}

.toggle_btn:hover div {
     background-color: #d4a373;
     transition: all .3s ease-in-out;
}

/* svg:hover {
     color-scheme: #d4a373;
} */